<!-- You can change the values `dark` here with any of the following: -->
<!-- dark, light, primary, secondary, success, info, danger, warning -->

<nav class="navbar fixed-top navbar-toggleable-md navbar-expand-lg scrolling-navbar double-nav navbar-light border-bottom">
  <!-- SideNav slide-out button -->
  <div class="float-left">
      <a href="#" data-activates="slide-out" class="button-collapse"><i class="fa fa-bars"></i></a>
  </div>
  <!-- Breadcrumb-->
  <div class="breadcrumb-dn mr-auto">
    <b class="fa flex-auto border-lime bold m-2">StarBuck</b>  
  </div>
  <ul class="nav navbar-nav nav-flex-icons ml-auto navbar-light">
      <li class="nav-item">
        <a class="nav-link"> <i class="fa fa-search"></i><span class="clearfix d-none d-md-inline-block">Search</span></a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#" [routerLink]="['/about']" routerLinkActive="router-link-active" ><i class="fa fa-envelope"></i> <span class="clearfix d-none d-md-inline-block">Contact</span></a>
      </li>
      <li class="nav-item" >
        
          <a class="nav-link" href="#" ><i class="fa fa-cart-arrow-down"></i> <span class="clearfix d-none d-md-inline-block">Cart</span></a>
          
      </li>
      <li class="nav-item">
        
    </li>
      <li class="nav-item dropdown text-end"  mat-button [matMenuTriggerFor]="menu">
        <a  class="nav-link dropdown-toggle" data-toggle="dropdown" ><i class="fa fa-user"></i> <span  class="clearfix d-none d-md-inline-block">User</span></a>
        <!-- <button mat-button [matMenuTriggerFor]="menu">Menu</button> -->
        <mat-menu  #menu="matMenu" >
          <button mat-menu-item>Profile</button>
          <button mat-menu-item>Orders</button>
          <button mat-menu-item>Logout</button>
          <button mat-menu-item [routerLink]="['/signUp']" routerLinkActive="router-link-active" >Register</button>
        </mat-menu>
      </li>
  </ul>
</nav>