<div class="jumbotron" >
    <div class="input-group">
        <select class="form-select form-control" id="specificSizeSelect">
          <option selected>Location</option>
          <option value="1">Pune</option>
          <option value="2">Mumbai</option>
          <option value="3">Nagpur</option>
        </select>
        <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
          aria-describedby="search-addon" />
        <button type="button" class="btn btn-outline-primary">Find</button>
      </div>
</div>
<hr class="solid">
<div class="container ">
    <section class="container py-4 my-lg-3 py-sm-5" id="cuisine" tabindex="-1" style="outline: none;">
        <h2 class="text-center pt-4 pt-sm-3">Trending food in your city</h2>
        <p class="text-muted text-center mb-5 text-dark">Choose what you want and we dilever it to you</p>
        <div class="row">
          <div class="col-md-4 col-sm-6 mb-grid-gutter"><a class="card border-0 shadow" href="food-delivery-category.html"><img class="card-img-top" src="/assets/images/01.jpg" alt="Burgers &amp; Fries">
              <div class="card-body py-4 text-center">
                <h3 class="h5 mt-1">Burgers &amp; Fries</h3>
              </div></a></div>
          <div class="col-md-4 col-sm-6 mb-grid-gutter"><a class="card border-0 shadow" href="food-delivery-category.html"><img class="card-img-top" src="/assets/images/02.jpg" alt="Noodles">
              <div class="card-body py-4 text-center">
                <h3 class="h5 mt-1">Noodles</h3>
              </div></a></div>
          <div class="col-md-4 col-sm-6 mb-grid-gutter"><a class="card border-0 shadow" href="food-delivery-category.html"><img class="card-img-top" src="/assets/images/03.jpg" alt="Sushi &amp; Rolls">
              <div class="card-body py-4 text-center">
                <h3 class="h5 mt-1">Sushi &amp; Rolls</h3>
              </div></a></div>
          <div class="col-md-4 col-sm-6 mb-grid-gutter"><a class="card border-0 shadow" href="food-delivery-category.html"><img class="card-img-top" src="/assets/images/04.jpg" alt="Pizza &amp; Pasta">
              <div class="card-body py-4 text-center">
                <h3 class="h5 mt-1">Pizza &amp; Pasta</h3>
              </div></a></div>
          <div class="col-md-4 col-sm-6 mb-grid-gutter"><a class="card border-0 shadow" href="food-delivery-category.html"><img class="card-img-top" src="/assets/images/05.jpg" alt="Coffee &amp; Desserts">
              <div class="card-body py-4 text-center">
                <h3 class="h5 mt-1">Coffee &amp; Desserts</h3>
              </div></a></div>
          <div class="col-md-4 col-sm-6 mb-grid-gutter"><a class="card border-0 shadow" href="food-delivery-category.html"><img class="card-img-top" src="/assets/images/06.jpg" alt="Healthy &amp; Food">
              <div class="card-body py-4 text-center">
                <h3 class="h5 mt-1">Healthy &amp; Food</h3>
              </div></a></div>
        </div>
      </section>
</div>
